<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/Admin/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="/Admin/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="/Admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="/Admin/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/Admin/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="/Admin/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/Admin/plugins/daterangepicker/daterangepicker.css">

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">

</head>
@{
    ViewData["Title"] = "without bootstrap";
}
<style>
    .row.custom-dsn {
        margin-left: 72px;
    }

    .custom-dsn2 {
        margin-left: 155px;
    }

    input.correct-answer {
        margin-left: 5px;
    }

    .custom-dsn3 {
        margin-left: 565px;
        padding-bottom: 20px;
    }

</style>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Set Multiple Answer Question</h3>
    </div>
    <form role="form">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <textarea id="summernote100" name="editordata1"></textarea>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea id="summernote101" name="editordata1"></textarea>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <textarea id="summernote700" name="editordata1"></textarea>
                    </div>
                </div>

            </div>
            <div class="col-md-8 justify-content-center custom-dsn2">
                <button type="button" id="addMoreSummernote1" class="btn btn-block btn-outline-secondary">Add More</button>
            </div>
        </div>

        <div class="col-md-3 justify-content-center custom-dsn3">
            <a asp-action="QuestionBank" asp-controller="Question"><button type="button" class="btn btn-block bg-gradient-success btn-lg">Save</button></a>

        </div>
    </form>

</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#summernote100').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });

        // Initialize the first Summernote editor
        $(document).ready(function () {
            $('#summernote101').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote101').next(); // Get the Summernote editor container
                        $editor1.append(initialContent2);
                    }
                }
            });
        });

        $(document).ready(function () {
            $('#summernote700').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [
                    ['font', ['bold', 'underline', 'clear']]

                ],
                //HTMLDivElement:'ddd'
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var initialContent3 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote700').next(); // Get the Summernote editor container
                        $editor1.append(initialContent3);
                    }
                }
            });

        });

        var summernoteCount1 = 1; // Initial count for Summernote editors

        // Function to add more Summernote editors
        function addMoreSummernote1() {
            summernoteCount1++; // Increment the count
            if (summernoteCount1 > 4) {
                Swal.fire({
                    icon: 'error',
                    title: 'SORRY',
                    text: 'You Can not Add more!',
                })
            }
            else {
                console.log("-----------" + summernoteCount1);
                var newSummernoteId1 = "summernote101" + summernoteCount1; // Generate a unique ID for the new Summernote editor

                // Create a new Summernote textarea and append it to the container
                var newSummernoteTextarea1 = '<div class="col-md-8">' +
                    '<div class="form-group">' +
                    '<textarea id="' + newSummernoteId1 + '" name="editordata1"></textarea>' +
                    '</div>' +
                    '</div>';

                $('.row.justify-content-center').append(newSummernoteTextarea1);

                // Initialize the new Summernote editor
                $('#' + newSummernoteId1).summernote({
                    placeholder: 'Hello stand alone ui',
                    tabsize: 2,
                    height: 60,
                    toolbar: [['font', ['bold', 'underline', 'clear']]],
                    callbacks: {
                        onInit: function () {
                            // Add your custom footer content here
                            var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                            var $editor1 = $('#' + newSummernoteId1).next(); // Get the Summernote editor container
                            $editor1.append(initialContent2);
                        }
                    }
                });
            }


        }

        // Add an event listener to the "Add More" button
        $(document).on('click', '#addMoreSummernote1', function () {
            addMoreSummernote1();

        });

    </script>

    <script src="/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- ChartJS -->
    <script src="/Admin/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/Admin/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="/Admin/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="/Admin/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/Admin/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="/Admin/plugins/moment/moment.min.js"></script>
    <script src="/Admin/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="/Admin/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="/Admin/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="/Admin/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/Admin/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="/Admin/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="/Admin/js/demo.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
}

<!-- ./wrapper -->

</html>