@model Online_Exam_System.Models.CourseAssign
@{
    ViewData["Title"] = "without bootstrap";
    Layout = "_Layout"; // Specify the layout to use
}
<style>
    .row.custom-dsn {
        margin-left: 72px;
    }

    .custom-dsn2 {
        margin-left: 155px;
    }

    input.correct-answer {
        margin-left: 5px;
    }

    .custom-dsn3{
        margin-left: 565px;
        padding-bottom: 20px;
    }

    button.btn.btn-block.btn-outline-info.btn-flat.button1 {
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .row1 {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -7.5px;
        margin-left: -7.5px;
        background-color: #cccfcf;
    }

    .card-primary1:not(.card-outline) > .card-header {
        background-color: #5e7e75;
    }
</style>



<div class="card card-primary1">
    <div class="card-header">
        <h3 class="card-title">Select Course</h3>
    </div>
    <div class="card-body">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseId">Course</label>
                <select class="form-control" asp-for="CourseId" asp-items="@(new SelectList(ViewBag.CourseAssigns1,"CourseId","CourseCode"))">
                    <option>Please select one</option>
                </select>
            </div>
        </div>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Set Multiple Answer Question</h3>
            </div>
            <form role="form">
                <div class="container">
                    <div class="row1">
                        <div class="col-md-2">
                            <a asp-action="AddQestion" asp-controller="Question"><button type="button" class="btn btn-block btn-outline-info btn-flat button1">Single Answer</button></a>
                        </div>
                        <div class="col-md-2">
                            <a asp-action="AddMultipleSelectQuestion" asp-controller="Question"><button type="button" class="btn btn-block btn-outline-info btn-flat button1">Multiple Answer</button></a>
                        </div>
                        <div class="col-md-2">
                            <a asp-action="AddTrueFalseQuestion" asp-controller="Question"><button type="button" class="btn btn-block btn-outline-info btn-flat button1">True/False</button></a>
                        </div>
                    </div>
                </div>

            </form>
            <form role="form">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="form-group">
                                <textarea id="summernote100" name="editordata1"></textarea>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea id="summernote101" name="editordata1"></textarea>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea id="summernote700" name="editordata1"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 justify-content-center custom-dsn2">
                        <button type="button" id="addMoreSummernote1" class="btn btn-block btn-outline-secondary">Add More</button>
                    </div>
                </div>

                <div class="col-md-3 justify-content-center custom-dsn3">
                    <a asp-action="QuestionBank" asp-controller="Question"><button type="button" class="btn btn-block bg-gradient-success btn-lg">Save</button></a>

                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#summernote100').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });

        // Initialize the first Summernote editor
        $(document).ready(function () {
            $('#summernote101').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote101').next(); // Get the Summernote editor container
                        $editor1.append(initialContent2);
                    }
                }
            });
        });

        $(document).ready(function () {
            $('#summernote700').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [
                    ['font', ['bold', 'underline', 'clear']]

                ],
                //HTMLDivElement:'ddd'
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var initialContent3 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                        var $editor1 = $('#summernote700').next(); // Get the Summernote editor container
                        $editor1.append(initialContent3);
                    }
                }
            });

        });

        var summernoteCount1 = 1; // Initial count for Summernote editors

        // Function to add more Summernote editors
        function addMoreSummernote1() {
            summernoteCount1++; // Increment the count
            if (summernoteCount1 > 4) {
                Swal.fire({
                    icon: 'error',
                    title: 'SORRY',
                    text: 'You Can not Add more!',
                })
            }
            else {
                console.log("-----------" + summernoteCount1);
                var newSummernoteId1 = "summernote101" + summernoteCount1; // Generate a unique ID for the new Summernote editor

                // Create a new Summernote textarea and append it to the container
                var newSummernoteTextarea1 = '<div class="col-md-8">' +
                    '<div class="form-group">' +
                    '<textarea id="' + newSummernoteId1 + '" name="editordata1"></textarea>' +
                    '</div>' +
                    '</div>';

                $('.row.justify-content-center').append(newSummernoteTextarea1);

                // Initialize the new Summernote editor
                $('#' + newSummernoteId1).summernote({
                    placeholder: 'Hello stand alone ui',
                    tabsize: 2,
                    height: 60,
                    toolbar: [['font', ['bold', 'underline', 'clear']]],
                    callbacks: {
                        onInit: function () {
                            // Add your custom footer content here
                            var initialContent2 = '<p><b><input type="checkbox" class="correct-answer" name="answer"> Correct Answer</b></p>';
                            var $editor1 = $('#' + newSummernoteId1).next(); // Get the Summernote editor container
                            $editor1.append(initialContent2);
                        }
                    }
                });
            }


        }

        // Add an event listener to the "Add More" button
        $(document).on('click', '#addMoreSummernote1', function () {
            addMoreSummernote1();

        });

    </script>
 
}
