@model Online_Exam_System.ViewModel.QuestionAnsweViewModel
@{
    ViewData["Title"] = "without bootstrap";
    Layout = "_Layout"; // Specify the layout to use
}

<style>
    .row.custom-dsn {
        margin-left: 72px;
    }

    .custom-dsn2 {
        margin-left: 155px;
    }

    input.correct-answer {
        margin-left: 5px;
    }

    .custom-dsn3 {
        margin-left: 565px;
        padding-bottom: 20px;
    }

    button.btn.btn-block.btn-outline-info.btn-flat.button1 {
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 10px;
    }

    .row1{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -7.5px;
        margin-left: -7.5px;
        background-color: #cccfcf;
    }

    .card-primary1:not(.card-outline) > .card-header {
        background-color: #5e7e75;
    }

    .form-group1{
        margin-bottom: 1rem;
        background-color: #cbd3db;
        margin-top: -17px;
    }

    .col-md-4.cutomize-data {
        margin-left: 84px;
    }

</style>

<div class="card card-primary1">
   
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Set a Answer of a Question</h3>
            </div>
            <form role="form">
                <div class="container">
                    <div class="row1">
                        <div class="col-md-2">
                            <a asp-action="AddQestion" asp-controller="Question"><button type="button" class="btn btn-block btn-outline-info btn-flat button1">Single Answer</button></a>
                        </div>
                        <div class="col-md-2">
                            <a id="multipleAnswerButton" asp-action="AddMultipleSelectQuestion" asp-controller="Question"><button type="button" class="btn btn-block btn-outline-info btn-flat button1">Multiple Answer</button></a>
                        </div>
                        <div class="col-md-2">
                            <a asp-action="AddTrueFalseQuestion" asp-controller="Question"><button type="button" class="btn btn-block btn-outline-info btn-flat button1">True/False</button></a>
                        </div>
                    </div>
                </div>

            </form>
            <form asp-controller="Question" asp-action="AddQestion" role="form" method="post">
            <div class="card-body">
                <div class="col-md-4 cutomize-data">
                    <div class="form-group">
                        <label asp-for="CourseId">Course Code</label>
                        <select id="courseDropdown" class="form-control" asp-for="CourseId" asp-items="@(new SelectList(ViewBag.CourseAssigns,"CourseId","CourseCode"))">
                            <option>Please select one</option>
                        </select>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="form-group">
                                <textarea asp-for="QuestionDescription" id="summernote" name="QuestionDescription"></textarea>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question1" id="summernote1" name="Question1"></textarea>
                            </div>
                            <div class="form-group1">
                                <input type="radio" asp-for="Question1Answer" class="correct-answer background" name="Question1Answer" value="Question1Answer"><b> Correct Answer</b>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question7" id="summernote7" name="Question7"></textarea>
                            </div>
                            <div class="form-group1">
                                <input type="radio" asp-for="Question7Answer" class="correct-answer" name="Question7Answer" value="Question7Answer"><b> Correct Answer</b>

                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question2" id="summernote2" name="Question2"></textarea>
                            </div>
                            <div class="form-group1">
                                <input type="radio" asp-for="Question2Answer" class="correct-answer" name="Question2Answer" value="Question2Answer"><b> Correct Answer</b>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <textarea asp-for="Question3" id="summernote3" name="Question3"></textarea>
                            </div>
                            <div class="form-group1">
                                <input type="radio" asp-for="Question3Answer" class="correct-answer" name="Question3Answer" value="Question3Answer"><b> Correct Answer</b>
                            </div>

                        </div>
                        <input type="hidden" asp-for="Question1Answer" name="Question1Answer" />
                        <input type="hidden" asp-for="Question7Answer" name="Question7Answer" />
                        <input type="hidden" asp-for="Question2Answer" name="Question2Answer" />
                        <input type="hidden" asp-for="Question3Answer" name="Question3Answer" />

                    </div>
                    
                </div>

                <div class="col-md-3 justify-content-center custom-dsn3">
                    <a><button id="getDataButton" type="submit" class="btn btn-block bg-gradient-success btn-lg">Save</button></a>
                </div>
            </div>
            </form>

        </div>
</div>


@section Scripts {


    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });

        // Initialize the first Summernote editor
        $(document).ready(function () {
            $('#summernote1').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        
                        var $editor = $('#summernote1').next(); // Get the Summernote editor container
                        $editor.append(initialContent);
                    }
                }
            });
        });

        $(document).ready(function () {
            $('#summernote2').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var $editor = $('#summernote2').next(); // Get the Summernote editor container
                        $editor.append(initialContent);
                    }
                }
            });
            console.log('++++++++++++++++++++++')
        });
        $(document).ready(function () {
            $('#summernote3').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var $editor = $('#summernote3').next(); // Get the Summernote editor container
                        $editor.append(initialContent);
                    }
                }
            });
        });
        $(document).ready(function () {
            $('#summernote7').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [
                    ['font', ['bold', 'underline', 'clear']]

                ],
                //HTMLDivElement:'ddd'
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var $editor = $('#summernote7').next(); // Get the Summernote editor container
                        $editor.append(initialContent1);
                    }
                }
            });

        });

        var summernoteCount = 1; // Initial count for Summernote editors

        // Function to add more Summernote editors
        //function addMoreSummernote() {
        //    summernoteCount++; // Increment the count
        //    if (summernoteCount > 3) {
        //        Swal.fire({
        //            icon: 'error',
        //            title: 'SORRY',
        //            text: 'You Can not Add more!',
        //        })
        //    }
        //    else {
        //        console.log("-----------" + summernoteCount);
        //        var newSummernoteId = "summernote" + summernoteCount; // Generate a unique ID for the new Summernote editor

        //        // Create a new Summernote textarea and append it to the container
        //        var newSummernoteTextarea = '<div class="col-md-8">' +
        //            '<div class="form-group">' +
        //            '<textarea  id="' + newSummernoteId + '" name="editordata' + newSummernoteId + '"></textarea>' +
        //            '</div>' +
        //            '</div>';

        //        $('.row.justify-content-center').append(newSummernoteTextarea);

        //        // Initialize the new Summernote editor
        //        $('#' + newSummernoteId).summernote({
        //            placeholder: 'Hello stand alone ui',
        //            tabsize: 2,
        //            height: 60,
        //            toolbar: [['font', ['bold', 'underline', 'clear']]],
        //            callbacks: {
        //                onInit: function () {
        //                    // Add your custom footer content here
        //                    var initialContent = '<p><b><input type="radio" class="correct-answer" name="answer"> Correct Answer</b></p>';
        //                    var $editor = $('#' + newSummernoteId).next(); // Get the Summernote editor container
        //                    $editor.append(initialContent);
        //                }
        //            }
        //        });
        //    }


        //}

        // Add an event listener to the "Add More" button
        $(document).on('click', '#addMoreSummernote', function () {
            addMoreSummernote();

        });
       //Add event delegation to handle radio button selection
        $(document).on('change', '.correct-answer', function () {
            // Unselect all other radio buttons in all editors
            $('.correct-answer').not(this).prop('checked', false);
        });

        //$(document).on('change', '.correct-answer', function () {
        //    if ($(this).is(':checked')) {
        //        var checkedValue = $(this).val();
        //        console.log('Checked Value: ' + checkedValue);
        //    }
        //});
    </script>

    

}