@{
    ViewData["Title"] = "without bootstrap";
    Layout = "_Layout"; // Specify the layout to use
}
<style>
    .row.custom-dsn {
        margin-left: 72px;
    }

    .custom-dsn2 {
        padding: 72px; /* Adjust the padding value as needed */
    }

</style>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Set Question</h3>
    </div>
    <form role="form">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <textarea id="summernote" name="editordata"></textarea>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <textarea id="summernote1" name="editordata"></textarea>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <textarea id="summernote7" name="editordata"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-12 justify-content-center custom-dsn2">
@*                <button type="button"  class="btn btn-default btn-block"></button>*@
                <button type="button" id="addMoreSummernote" class="btn btn-default btn-block btn-flat bg-olive">Add More</button>
            </div>

        </div>


        


    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 120,
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });

        // Initialize the first Summernote editor
        $(document).ready(function () {
            $('#summernote1').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var initialContent = '<p><b> <input type="radio" id="html" value="HTML">Correct Answer</b></p>';
                        var $editor = $('#summernote1').next(); // Get the Summernote editor container
                        $editor.append(initialContent);
                    }
                }
            });
        });

        $(document).ready(function () {
            $('#summernote7').summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [
                    ['font', ['bold', 'underline', 'clear']]

                ],
                //HTMLDivElement:'ddd'
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var initialContent1 = '<p><b> <input type="radio" id="html" value="HTML">Correct Answer</b></p>';
                        var $editor = $('#summernote7').next(); // Get the Summernote editor container
                        $editor.append(initialContent1);
                    }
                }
            });

        });

        var summernoteCount = 1; // Initial count for Summernote editors

        // Function to add more Summernote editors
        function addMoreSummernote() {
            summernoteCount++; // Increment the count
            var newSummernoteId = "summernote" + summernoteCount; // Generate a unique ID for the new Summernote editor

            // Create a new Summernote textarea and append it to the container
            var newSummernoteTextarea = '<div class="col-md-5">' +
                '<div class="form-group">' +
                '<textarea id="' + newSummernoteId + '" name="editordata"></textarea>' +
                '</div>' +
                '</div>';

            $('.row.justify-content-center').append(newSummernoteTextarea);

            // Initialize the new Summernote editor
            $('#' + newSummernoteId).summernote({
                placeholder: 'Hello stand alone ui',
                tabsize: 2,
                height: 60,
                toolbar: [['font', ['bold', 'underline', 'clear']]],
                callbacks: {
                    onInit: function () {
                        // Add your custom footer content here
                        var initialContent = '<p><b> <input type="radio" id="html" value="HTML">Correct Answer</b></p>';
                        var $editor = $('#' + newSummernoteId).next(); // Get the Summernote editor container
                        $editor.append(initialContent); 
                    }
                }
            });
        }

        // Add an event listener to the "Add More" button
        $(document).on('click', '#addMoreSummernote', function () {
            addMoreSummernote();
        });
    </script>
}