@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Online_Exam_System.Models.Teacher
<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Teacher Entry</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-controller="Teacher" asp-action="AddTeacher" role="form">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TeacherName">Name</label>
                            <input asp-for="TeacherName" type="text" class="form-control" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DepartmentId">Department</label>
                            <select class="form-control" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments,"DepartmentId","DepartmentName"))">
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Sex">Select Sex</label>
                            <select asp-for="Sex" class="form-control">
                                <option>Male</option>
                                <option>Fe Male</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                  
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="TeacherPassword">Password</label>
                            <input asp-for="TeacherPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Contact">Contact</label>
                            <input asp-for="Contact" type="text" class="form-control" placeholder="Enter Contact Number">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="JobTitle">Job Title</label>
                            <input asp-for="JobTitle" type="text" class="form-control" placeholder="Enter JobTitle">
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <textarea asp-for="Address" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a asp-action="AddTeacher" asp-route-id="@Model"><button type="submit" class="btn btn-primary">Submit</button></a>
            </div>
        </form>
    </div>
</div>
