@model Online_Exam_System.Models.Student

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Student Entry</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form asp-controller="Student" asp-action="UpdateStudentDetails" method="post" role="form">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StudentName">Name</label> 
                            <input asp-for="StudentName" type="text" class="form-control" placeholder="Enter Name">
                        </div> 
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="DepartmentId">Department</label>
                            <select class="form-control" asp-for="DepartmentId" asp-items="@(new SelectList(ViewBag.Departments,"DepartmentId","DepartmentName"))">
                                <option>Please select one</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="BatchId">Batch</label>
                            <select class="form-control" asp-for="BatchId" asp-items="@(new SelectList(ViewBag.Batches,"BatchId","BatchName"))">
                                <option>Please select one</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                   @* <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="StudentPassword">Password</label>
                            <input asp-for="StudentPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>*@
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Contact">Student Contact</label>
                            <input asp-for="Contact" type="text" class="form-control" placeholder="Enter Contact Number">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Sex">Gender</label>
                            <select asp-for="Sex" class="form-control">
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Address">Address</label>
                            <textarea asp-for="Address"  class="form-control" rows="3" placeholder="Enter ..."> </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <a asp-action="UpdateStudentDetails"><button type="submit" class="btn btn-primary">Update</button></a>

            </div>
        </form>
    </div>
    <!-- /.card -->
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('#DepartmentId').change(function () {
                var departmentId = $(this).val();
                console.log(departmentId);
                $('#BatchId').empty();
                $('#BatchId').append('<Option >--Select Batch--</Option>');
                $.ajax({
                    url: '/Student/GetBatch?departmentId=' + departmentId, // Update this URL to the correct endpoint
                    type: 'GET',
                    success: function (result) {
                        $.each(result, function (i, data) {
                            console.log(data);
                            $('#BatchId').append('<option value=' + data.batchId + '>' + data.batchName + '</option>');
                        }); // <-- Closing parentheses and semicolon were missing here
                    },
                    error: function () {
                        console.log("Error occurred"); // Log the error
                    }
                });
            });
        });
    </script>

}