
@{
    ViewData["Title"] = "AppStartView";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h1>First Load this page</h1>
<form asp-controller="User" asp-action="Login" role="form">
    <button type="submit">Login</button>
</form>
