@model Online_Exam_System.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@ViewBag.Role
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="/Login/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Login/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Login/css/style.css">
    <style>
        .content {
            padding: 7rem 0;
            margin-top: -60px;
        }

        /*.img-fluid {
            max-width: 100%;
            height: auto;
            margin-top: 50px;
        }*/

        .img-fluid {
            max-width: 100%;
            height: auto;
            margin-top: 50px;
            margin-left: -33px;
        }
    </style>

    <title>Login</title>
</head>
<body>

    @{
        ViewData["Title"] = "Login";
    }

    <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2">
                <img src="/Login/images/exam1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents pt-lg-5">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Sign In to <strong>Online Examination System</strong></h3>
                            <p class="mb-4 text-dark">We are thrilled to have you here at our Online Examination System.</p>
                        </div>
                        <form asp-controller="User" asp-action="Login" method="post" role="form">
                            <div class="form-group first">
                                <label asp-for="UserId" class="text-dark" style="font-size: 15px;">Username</label>
                              @*  <input asp-for="UserId" type="text" class="form-control" placeholder="Enter User Id">*@
                                <input asp-for="UserId" type="text" class="form-control">
                            </div>
                            <div class="form-group last mb-4">
                                <label asp-for="Password" class="text-dark" style="font-size: 15px;">Password</label>
                                <input asp-for="Password" type="password" class="form-control" id="password" name="password">
                                <p style="color:red">@ViewBag.ErrorMessage</p>
                            </div>
                            
                            <a asp-action="Login"><button type="submit" class="btn btn-primary">Submit</button></a>
                                @*<a asp-action="Login"><button type="submit" class="btn text-white btn-block btn-primary" style="font-size: 20px;">Log in</button></a>*@
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="/Login/js/jquery-3.3.1.min.js"></script>
    <script src="/Login/js/popper.min.js"></script>
    <script src="/Login/js/bootstrap.min.js"></script>
    <script src="/Login/js/main.js"></script>
</body>
</html>

